body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: var(--theme-background);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*****************************************
*                                        *
*                 Loading                *
*                                        *
*****************************************/
.wa-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--theme-background);
  z-index: 9;
}

.wa-loading-content,
.wa-output-loading  {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wa-loading-content img,
.wa-output-loading img {
  width: 100px;
  height: 100px;
}

.wa-loading-content span,
.wa-output-loading span {
  margin-top: 10px;
  font-size: 16px;
  color: #21B2AA;
}

/*****************************************
*                                        *
*               Playground               *
*                                        *
*****************************************/
#wa-playground {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#wa-header {
  width: 100%;
  box-shadow: 0 0 21px 0 var(--theme-box-shadow);
  background: var(--theme-background);
  z-index: 1;
}

#wa-main {
  width: 100%;
  flex: 1;
  overflow: auto
}

/*****************************************
*                                        *
*                 Header                 *
*                                        *
*****************************************/
.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 99%;
  padding: 4px;
}

.header-inner .identity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-inner .identity .logo {
  padding-right: 10px;
  padding-top: 4px;
}

.header-inner .identity .logo img {
  height: 48px;
  width: auto;
}

.header-inner .identity .title {
  border-left: 1px solid rgba(0,0,0,.15);
  font-size: 16px;
  line-height: 48px;
  margin-right: 8px;
  padding-left: 10px;
  padding-bottom: 4px;
  color: var(--theme-color);
  font-weight: 500;
}

.header-inner nav {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}

.header-inner nav ul {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-inner nav ul li {
  display: block;
  list-style: none;
  padding: 0 8px;
}

.header-inner nav ul li a span {
  display: block;
  padding: 4px 8px;
  border-radius: 4px;
  background: #D63F26;
  color: #FFFFFF;
}

.header-inner nav ul li a svg {
  display: block;
  color: var(--theme-color);
}

.header-inner nav ul li a svg:hover{
  color: var(--theme-color-hover);
}

/*****************************************
*                                        *
*                 Layout                 *
*                                        *
*****************************************/
.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter {
  background: var(--theme-gutter-background);
  position: relative;
}

.gutter.gutter-horizontal::before {
  cursor: col-resize;
  content: '';
  width: 6px;
  height: 48px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--theme-handle-background);
}

.gutter.gutter-vertical::before {
  cursor: row-resize;
  content: '';
  width: 48px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--theme-handle-background);
}

/*****************************************
*                                        *
*                   Wa                   *
*                                        *
*****************************************/
#split-code {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.code-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

#wa-examples {
  flex: 1;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  border-bottom: 0.5px solid var(--theme-handle-background);
}

#wa-examples select {
  min-width: 150px;
  height: 32px;
  padding: 4px 8px;
  margin: 0 8px;
  border: 2px solid #21B2AA;;
  outline: none;
  background: var(--theme-background);
  color: var(--theme-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

#wa-examples select option {
  background: var(--theme-background);
  color: var(--theme-color);
}

#wa-fmt,
#wa-compile {
  flex-shrink: 0;
  padding: 4px 8px;
  background: var(--theme-color);
  color: var(--theme-background);
  border-radius: 4px;
  margin: 0 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#wa-fmt svg,
#wa-compile svg {
  margin-left: 8px;
}

#wa-editor {
  flex: 1;
  overflow: auto;
  background: var(--theme-foreground);
}

/*****************************************
*                                        *
*                 Output                 *
*                                        *
*****************************************/
#split-output {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.output-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.output-nav-inner {
  flex: 1;
  margin: 8px 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}


.output-nav-inner span {
  cursor: pointer;
  margin: 6px 6px 0px 0px;
  padding: 7px 12px;
  font-size: 14px;
  color: var(--theme-color-hover);
  background: var(--theme-background);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start
} 

.output-nav-inner span svg {
  color: var(--theme-color-hover);
  margin-right: 8px;
  font-size: 10px
}

.output-nav-inner span.output-active {
  color: var(--theme-color);
  background: var(--theme-foreground);
}
.output-nav-inner span.output-active svg {
  color: var(--theme-color);
}

#wa-output {
  flex: 1;
  overflow: auto;
  margin: 0px 8px 8px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  background: var(--theme-foreground);
  position: relative;
}

#wa-output pre {
  color: var(--theme-color);
  font-size: 13px;
  line-height: 13px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

#wa-output pre code {
  display: block;
  padding: 16px;
  margin: 0;
}
