:root {
  --theme-background: #FFFFFF;
  --theme-foreground: #FAFAFA;
  --theme-gutter-background: #F7F8F9;
  --theme-handle-background: rgba(100, 116, 139, .2);
  --theme-selection-background: #E6E6E6;
  --theme-color: rgb(33, 53, 71);
  --theme-color-hover: rgb(33, 53, 71, .5);
  --theme-box-shadow: rgb(0 0 0 / 16%);
}

body.dark-theme {
  --theme-background: #1A1A1A;
  --theme-foreground: #242424;
  --theme-gutter-background: #242424;
  --theme-handle-background: rgba(100, 116, 139, .3);
  --theme-selection-background: #3A3A3A;
  --theme-color: rgba(255, 255, 255, .87);
  --theme-color-hover: rgba(255, 255, 255, .5);
  --theme-box-shadow: rgb(0 0 0 / 84%);
}
